/*
* $Id: wp_zombaio_admin.css 614297 2012-10-18 22:50:14Z BarryCarlyon $
* $Revision: 614297 $
* $Date: 2012-10-18 23:50:14 +0100 (Thu, 18 Oct 2012) $
*/

#wp_zombaio .wp_zombaio_admin {
	border: 1px solid #D3D3D3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 5px;
	background: #FBFBFB;
}
#wp_zombaio .wp_zombaio_admin h2 {
	font-weight: 700;
	color: #000000;
	background: #D3D3D3;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	padding-left: 20px;
}
#wp_zombaio .wp_zombaio_admin .wp_zombaio_inner { margin: 10px; }
#wp_zombaio_logo { margin-top: 50px; float: right; }
#wp_zombaio .wp_zombaio_admin ul.disc { list-style: disc; margin-left: 20px; }
#wp_zombaio .wp_zombaio_admin #message { margin: 20px; }
#wp_zombaio_transaction_logs { width: 100%; }
#wp_zombaio_transaction_logs th, #wp_zombaio_transaction_logs td { border-right: 1px solid #9F9F9F; border-bottom: 1px solid #9F9F9F; }
#wp_zombaio_transaction_logs th, #wp_zombaio_transaction_logs tfoot tr td { border-top: 1px solid #9F9F9F; background: #808080; }
#wp_zombaio_transaction_logs td { padding: 0px 5px; text-align: center; }
#wp_zombaio_transaction_logs td.talignleft { text-align: left; }
#wp_zombaio_transaction_logs tr th:first-child, #wp_zombaio_transaction_logs tr td:first-child { border-left: 1px solid #9F9F9F; }
.wp_zombaio_inner .ui-widget-content { background: #FBFBFB; }

#wp_zombaio_transaction_logs tr:nth-child(even) { background: #D3D3D3 }
#wp_zombaio_transaction_logs tr:nth-child(odd) { background: #CFDBF3; }
#wp_zombaio_transaction_logs tbody tr:hover { cursor: pointer; background: #87DEA4; }

#icon-edit.icon32-posts-wp_zombaio {
	background-image: url('img/zombaio_icon_big.png');
	background-position: 0px 0px;
}
